@{
    ViewData["Title"] = "Home Page";
}

<h1>1-) Role Oluştur Ana Sayfada Sayfasında Oluşturmanız Gereken Roller</h1>

<h1>2-) Admin Ve Personel</h1>

<h1>3-)Çünkü Bütün Sistem bu İkisine Kurulu....</h1>

<h1>4-) Identity kütüp Hanesi ile Yapılmıstır Bu Yüzden Ad Ve E-Mail Uniq Oldugu İçin Butun Diztem Onun Üzerine Kuruludur....</h1>

<h1>5-) Sisteme Giriş Sayfasında E-Mail Ve Şifrenizi 3 Defa Yanlış GirerSeniz O Email ve Şifre 20 Dk Bloke Olur Dikkat Edin....</h1>

<h1>6-) Kulanıcıya Rol Ver Sayfasından Role Atamnız Gerekmektedir....</h1>

<h1>7-) Önemli Not: Lütfen İsim,E-Mail Ve Şifrenizi Unutmayın Size Soracaktır....</h1>

<h1>8-) İyi Çalışmalar Dilerim....</h1>