@{
    ViewBag.Title = "Home Page";
}



<h3>1-)visual studio 2019 defalarca bozuldugu için kodlar karısık sıtılde yazılmıstır kod okuması zordur</h3>

<h3>2-)Projeyi yanlış okumam dan dolayı fazla kodlar sınıflar vardır visual studio 2019 bozulmasın dıye sılmedım isterseniz sile bilirim</h3>

<h3>3-)kayıt ol sayfasında rol atanabilir db boş gelcegi için sonra rol butonunu kaldırın</h3>

<h3>4-)visual studio 2019 view kısmında hata fırlatcaktır sistemde hata yoktur beginformu hata olarak kabul etmektedir ama çalışmakta bir sıkıntısı yoktur.</h3>

<h3>5-)Aklıma gelenler bunlar lütfen olumlu yada olumsuz arayarak donun gelişimim için nerelerde hata yaptıgımı bilmek isterim</h3>

<h3>6-)Dahbord nedir bilmiyorum Araştırdıgım kadarı ile yaptım</h3>

<h3>7-)Backhand tarafında ne kadar iyi görsemde ön yüz tarafında yetersizim umarım anlarsınız</h3>

<h3>8-)İyi Çalışmalar Saygılarımla....</h3>